@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background: #ffc107;
}

a {
  color: inherit;
}

.subjects{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: auto;;
  background-size: cover;
  background-attachment: fixed;
}

.slider {
width: 75%; height: 400px;
max-width: 900px;
border-radius: 16px;
background-image: linear-gradient(30deg,#ffc107, #58151c);
box-shadow:  9px 9px 0px #bd8f05,
             -9px -9px 0px #ffc309;
position: relative;
margin: auto;
box-shadow: 10px 0px 50px -2px #58151c,
2px 0px 0px -4px #fff309,
2px 5px 0px -3px #ffffff;
}


.prev,
.next {
position: absolute;
top: 50%; transform: translateY(-50%);
width: 50px; height: 50px;
border-radius: 50%;
background-color: #eee;
color: #333;
border: none; outline: none;
font-size: 20px;
display: flex; justify-content: center;
align-items: center;
cursor: pointer;
transition: all 0.3s;
}

.prev:hover,
.next:hover {
opacity: 0.8;
}

.prev { left: -10%; }
.next { right: -10%; }

.slides-container { width: 100%; height: 100%; }

.slide {
width: 100%; height: 100%;
align-items: center;
padding: 25px 50px;
display: none;
}

.slide.active { display: flex; }

.slide.active .col-left,
.slide.active .col-right {
animation: fade-in 0.8s 1;
}

@keyframes fade-in {
  from {
    opacity: 0; transform: translateX(-20px);
  }

  to {
    opacity: 1; transform: translateX(0);
  }
}

.slide-description,
.slide-picture { flex: 1; }

.slide-description h2 {
  font-family: "Inter", sans-serif; font-size: 30px;
  margin-bottom: 20px;
  color:white;
  letter-spacing: 3px;
}

.slide-description p {
  font-family: "Inter", sans-serif;
  color:whitesmoke;
  line-height: 1.9;
}

.slide-picture {
  text-align: center;
  height: 100%;
}

.col-right img {
  height: 20px;
  width: 10px;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.8));
}

.btn{
	display: inline-block;
	text-decoration: none;
	padding: 16px 48px;
	background-image: linear-gradient(60deg,#d48150,#58151c);
	color: #fff;
	border-radius: 100px;
	margin-bottom: 10px;
	transition: all 0.3s;
}

.btn:hover{

  	background-image: linear-gradient(60deg,#d48150,#58151c);
    border-radius: 100px;
    box-shadow: 10px 0px 50px -2px #58151c,
    2px 0px 0px -4px #fff309,
    2px 5px 0px -3px #ffffff;
}





.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #58151c;
  text-decoration: none;
}

.card:hover {
    color: whitesmoke;
    background-image:linear-gradient(rgba(50,50,50,var(--bg-filter-opacity)),rgba(100,100,100,var(--bg-filter-opacity))), var(--bg-img);
    
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
}

.card p {
  font-size: 0.75em;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5em;
  line-height: 2em;
  font-weight: 400s;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}


.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  width: 200%;
  height: 200%;
  background-image: var(--bg-img);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 2em;
  height: 3em;
 
  justify-content: center;
  align-items: c;
  
}

.info h1 {
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Inter', sans-serif;

}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
